<!DOCTYPE html>
<html>
  <head>
    <title>Best Restaurant</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <form action="/cuisines/new" method="post">
      <label for="cuisine-name">Cuisine Name</label>
      <input type="text" name="cuisine-name">
      <button type="submit">Add</button>
    </form>
  </body>
</html>
