<!DOCTYPE html>
<html>
  <head>
    <title>Best Restaurant</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Best Restaurant</h1>
    <hr />
    <h2>Edit cuisine: @Model.GetName()</h2>
    <form action="/cuisine/edit/@Model.GetId()" method="post">
      <input type="hidden" name="_method" value="PATCH">
      <input type="hidden" name="cuisine-id" value="@Model.GetId()">
      <label for="cuisine-name">Cuisine Name</label>
      <input type="text" name="cuisine-name" id="cuisine-name">
      <button type="submit">Submit</button>
    </form>
    <h4><a href="/">Home</a></h4>
  </body>
</html>
