<!DOCTYPE html>
<html>
  <head>
    <title>Best Restaurant</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Best Restaurant</h1>
    <hr />
    <h2>Edit restaurant: @Model.GetName()</h2>
    <form action="/restaurant/edit/@Model.GetId()" method="post">
      <input type="hidden" name="_method" value="PATCH">
      <input type="hidden" name="restaurant-id" value="@Model.GetId()">
      <label for="restaurant-name">Restaurant Name</label>
      <input type="text" name="restaurant-name" id="restaurant-name" value="@Model.GetName()">
      <label for="restaurant-description">Restaurant Description</label>
      <input type="text" name="restaurant-description" id="restaurant-description" value="@Model.GetDescription()">
      <button type="submit">Submit</button>
    </form>
    <h4><a href="/">Home</a></h4>
